*{
    padding: 0px;
    margin: 0px;
}
body.theme{
    background-color: blue;
    color: white;
    position: relative;
}

button {
    background-color: #ff6a00; /* Background color */
    color: white; /* Text color */
    border: transparent; /* Remove default border */
    padding: 10px 20px; /* Add some padding */
    font-size: 16px; /* Font size */
    cursor: pointer; /* Pointer cursor on hover */
    border-radius: 5px; /* Rounded corners */
    transition: background-color 0.3s ease, transform 0.3s ease; /* Smooth transition */
}

/* Hover effect for buttons */
button:hover {
    background-color: #b30062; /* Darker background color on hover */
    transform: scale(1.05); /* Slightly enlarge the button */
}

.upper{
    position: absolute;
    top: 50%; /* Position from the top */
    left: 50%; /* Position from the left */
    transform: translate(-50%, -50%); /* Center the container */
}